<form action="/square/results" method="get">
  <label for="num_id">Number to find the square of:</label>
  <input id="num_id" name="num" type="number" required>
  <button type="submit">Find the square!</button>
</form>
<p>The square of <%=@num%> is <%=@square%></p>
