<form action="/square_root/results" method="get">
  <label for="num_id">Number to find the square root of:</label>
  <input id="num_id" name="num" type="number" required>
  <button type="submit">Find the square root!</button>
</form>
<p>The root of <%=@num%> is <%=@sqrt%></p>
